// START: Setting global variables
:root {
    // Font family(s)
    --font-family: "Helvetica Neue",Arial,sans-serif;
    // Colors
    --white: #FFFFFF;
    --blue1: #0D59F2;
    --blue2: #86ACF8;
    --gray1: #aeb7c9;
    --gray2: #6d7c97;
    --gray3: #38404f;
    --gray4: #232932;
    --gray5: #181c23;
}

// END: Setting global variables

// START: Setting global typography
body {
    font-family: var(--font-family);
    background-color: var(--gray3);
    color: var(--white);
    font-weight: 400;
    padding: 0 0;
    margin: 0 0;
}
// END: Setting global typography

// START: Layout styling

.l-section {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
}
.l-container {
    max-width: 1600px;
    padding: 0 15px;
    margin: 0 auto;
}

// END: Layout styling

// START: Component styling

// END: Component styling

// START: Modifiers
.m-center-aligned {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
// END: Modifiers
