// START: Setting global variables
:root {
    // Font family(s)
    --font-family: "Helvetica Neue",Arial,sans-serif;
    // Colors
    --white: #FFFFFF;
    --black: #000000;
    --blue1: #0D59F2;
    --blue2: #0079d0;
    --blue3: #86ACF8;
    --gray1: #aeb7c9;
    --gray2: #6d7c97;
    --gray3: #38404f;
    --gray4: #232932;
    --gray5: #181c23;
    --gray6: #161616;
}

// END: Setting global variables

// START: Setting global typography
body {
    font-family: var(--font-family);
    background-color: var(--gray4);
    color: var(--white);
    font-weight: 400;
    padding: 0 0;
    margin: 0 0;
}
// END: Setting global typography

